---
# Copier en secrets.yml (ignoré par Git) puis :  ansible-vault encrypt secrets.yml
# Utilisé uniquement quand secrets_backend: local
# Tokens HEC : des UUID (uuidgen)
lab_secrets:
  admin_password: "ChangeMe_Admin_123!"
  idxc_pass4symmkey: "ChangeMe_idxc_key"
  shc_pass4symmkey: "ChangeMe_shc_key"
  hec_token_sc4s: "11111111-2222-3333-4444-555555555555"
  hec_token_logstash: "66666666-7777-8888-9999-000000000000"
