# {{ ansible_managed }}
ui            = true
api_addr      = "http://{{ inventory_hostname }}:8200"
cluster_addr  = "http://{{ inventory_hostname }}:8201"
disable_mlock = true

storage "raft" {
  path    = "/vault/file"
  node_id = "{{ inventory_hostname }}"
}

listener "tcp" {
  address     = "0.0.0.0:8200"
  tls_disable = true   # LAB UNIQUEMENT
}
